* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(157deg, rgb(0, 159, 227) 0%, rgb(6, 51, 88) 100%);
  font-family: "Roboto Condensed", sans-serif;
}

.favicon {
  width: 16px;
  height: 16px;
}

.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}

.lds-circle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: #fff;
  -webkit-animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@-webkit-keyframes lds-circle {
  0%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
            animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    -webkit-animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
            animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

@keyframes lds-circle {
  0%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
            animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    -webkit-animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
            animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
nav {
  grid-area: nav;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  position: fixed;
  z-index: 1;
  top: 0;
  box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.42);
}
@media (max-width: 975px) {
  nav {
    flex-direction: row-reverse;
    height: 80px;
    align-content: center;
  }
}
nav > ul {
  list-style: none;
  display: flex;
}
@media (max-width: 975px) {
  nav > ul {
    position: absolute;
    flex-direction: column;
    background-color: #ffffff;
    width: 250px;
    height: 100vh;
    top: 0;
    left: -300px;
    gap: 30px;
    margin-top: 79px;
    transition: 0.5s;
  }
  nav > ul:hover {
    left: 0;
  }
}
nav > ul > li {
  position: relative;
}
nav > ul > li:hover ul {
  max-height: 120px;
  width: 160px;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 25px;
  transition: 0.7s;
}
nav > ul > li a {
  text-decoration: none;
  font-size: 27px;
  font-weight: 400;
  color: #063358;
  padding: 10px;
  list-style: none;
}
nav > ul > li a:hover {
  color: rgb(0, 159, 227);
}
nav > ul > li > ul {
  max-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: end;
  list-style: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 15px 15px -5px rgba(0, 0, 0, 0.42);
}
@media (max-width: 975px) {
  nav > ul > li > ul {
    box-shadow: none;
    position: relative;
    display: flex;
    align-items: flex-start;
  }
}
nav > ul > li > ul > li > a {
  text-decoration: none;
  font-size: 27px;
  font-weight: 400;
  color: rgb(6, 51, 88);
}
nav .fa-bars {
  display: none;
}
@media (max-width: 975px) {
  nav .fa-bars {
    display: block;
    color: rgb(6, 51, 88);
    font-size: 30px;
    padding: 10px;
  }
  nav .fa-bars:hover + ul {
    left: 0;
  }
}

.nav__favicon {
  width: 75px;
  height: 75px;
}

.redes {
  width: 160px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 15px;
}
@media (max-width: 975px) {
  .redes {
    display: none;
  }
}
.redes .redes__fb_logo {
  width: 35px;
  height: 35px;
}
.redes .redes__insta_logo {
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border-radius: 11px;
}
.redes .redes__wapp_logo {
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border-radius: 5px;
}

.header_index {
  grid-area: header;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header_background1 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.3;
  z-index: -1;
  position: relative;
}
@media (max-width: 950px) {
  .header_background1 {
    height: 300px;
  }
}

.kenburns-top {
  -webkit-animation: kenburns-top 5s ease-out both;
          animation: kenburns-top 5s ease-out both;
  z-index: -2;
}

@-webkit-keyframes kenburns-top {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1.25) translateY(-15px);
    transform-origin: top;
  }
}

@keyframes kenburns-top {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1.25) translateY(-15px);
    transform-origin: top;
  }
}
.header_background2 {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: 0;
}
@media (max-width: 950px) {
  .header_background2 {
    height: 200px;
    z-index: 0;
  }
}

.header_pages {
  margin-top: 95px;
}

.body-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 600px auto auto auto;
  grid-template-areas: "nav    nav    nav" "header header header" "main   main   main" "aside  aside  aside" "footer footer footer";
}
@media (max-width: 950px) {
  .body-index {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 300px auto auto auto;
    grid-template-areas: "nav" "header" "main" "aside" "footer";
  }
}
.body-index main {
  grid-area: main;
  width: 100%;
}
.body-index aside {
  grid-area: aside;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 170px 1fr 170px auto;
  grid-template-areas: "major-title major-title major-title" "tarjeta     tarjeta     tarjeta" "minor-title minor-title minor-title" "video       video       video";
}
@media (max-width: 950px) {
  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 85px 1fr 85px auto;
    grid-template-areas: "major-title" "tarjeta" "minor-title" "video";
  }
}

.body-instruments {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px auto auto auto;
  grid-template-areas: "nav    nav    nav    nav" "header header header header" "main   main   main   main" "footer footer footer footer";
}
@media (max-width: 950px) {
  .body-instruments {
    grid-template-rows: 80px auto auto auto;
  }
}
.body-instruments .nav-intruments {
  grid-area: nav;
}
.body-instruments header {
  grid-area: header;
  display: flex;
  align-items: center;
  background-color: rgb(24, 24, 24);
}
.body-instruments .main-instruments {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
}
.body-instruments footer {
  grid-area: footer;
}

.workshop_body {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px 130px auto auto;
  grid-template-areas: "nav    nav" "header header" "main   main" "footer footer";
}
@media (max-width: 970px) {
  .workshop_body {
    grid-template-columns: 100%;
    grid-template-rows: 80px 70px auto auto;
    grid-template-areas: "nav" "header" "main" "footer";
  }
}

.workshop_nav {
  grid-area: nav;
}

.workshop_header {
  grid-area: header;
}

.workshop_main {
  grid-area: main;
}

.workshop_footer {
  grid-area: footer;
}

.workshop_div {
  margin: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(4, 680px);
  grid-template-areas: "section_one section_one" "section_two section_two" "section_three section_three" "section_four section_four";
}
.workshop_div .section_one {
  grid-area: section_one;
}
.workshop_div .section_two {
  grid-area: section_two;
}
.workshop_div .section_three {
  grid-area: section_three;
}
.workshop_div .section_four {
  grid-area: section_four;
}

.tarjeta {
  grid-area: tarjeta;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 30px;
}

@media (max-width: 950px) {
  .tarjeta {
    margin: 10px;
  }
}
.titulo__producto__tarjeta {
  font-size: 30px;
  font-weight: 700;
  color: rgb(24, 24, 24);
  text-align: center;
  margin: 10px;
}

.producto__tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 450px;
  max-height: 1000px;
  background-color: #ffffff;
  margin: 30px;
  padding: 10px;
  box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.42);
}

@media (max-width: 950px) {
  .producto__tarjeta {
    margin: 10px;
  }
}
.table__producto__tarjeta {
  padding: 5px;
  width: 100%;
  font-size: 20px;
}

.table__producto__tarjeta th {
  text-align: start;
}

.table__producto__tarjeta td {
  text-align: start;
}

.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  border: none;
  text-decoration: none;
}

.img__producto__tarjeta {
  width: 100%;
}

span {
  color: #ffffff;
}

.caja__especificaciones {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}

.especificaciones {
  background-color: #ffffff;
  width: auto;
  font-size: 30px;
  font-weight: 400;
  list-style: square;
  list-style-position: inside;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}
@media (max-width: 750px) {
  .especificaciones {
    font-size: 25px;
  }
}
@media (max-width: 450px) {
  .especificaciones {
    font-size: 15px;
  }
}

.descripcion {
  display: inline-block;
  color: #ffffff;
  width: 100%;
  margin: 10px;
  padding: 10px;
  font-size: 25px;
  font-weight: 400;
  font-style: italic;
  border-radius: 5px;
}
@media (max-width: 750px) {
  .descripcion {
    font-size: 20px;
  }
}
@media (max-width: 450px) {
  .descripcion {
    font-size: 15px;
  }
}

.purchase-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.purchase-button {
  background-color: #ffffff;
  width: 50%;
  max-height: 900px;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 25px;
  font-weight: 400;
  background-color: rgb(0, 159, 227);
  color: #ffffff;
  text-align: center;
  border: none;
  text-decoration: none;
}

hr {
  margin: 10px;
}

.caja_mapa {
  display: flex;
  justify-content: center;
}

.mapa {
  margin: 30px;
}

.tarjeta_contacto {
  color: #ffffff;
  font-size: 40px;
}

.tarjeta_contacto ul li {
  margin: 30px;
  list-style: none;
}

.tarjeta_contacto a {
  color: #ffffff;
  text-decoration: none;
}

.workshop-card {
  width: 45%;
  height: 650px;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  .workshop-card {
    width: 100%;
  }
}
.workshop-card .workshop-img {
  width: 512px;
  height: 512px;
}
@media (max-width: 650px) {
  .workshop-card .workshop-img {
    width: 380px;
    height: 380px;
  }
}

.instruments-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
}

.instrument-img {
  max-width: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 400px) {
  .instrument-img {
    max-width: 200px;
  }
}

.video {
  grid-area: video;
  justify-self: center;
  align-self: center;
  margin: 30px;
}

.video1 {
  background-color: #ffffff;
  width: 640px;
  height: 320px;
  box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.42);
}

@media (max-width: 785px) {
  .video, .video1 {
    width: 480px;
    height: 240px;
  }
}
@media (max-width: 500px) {
  .video, .video1 {
    width: 400px;
    height: 200px;
  }
}
@media (max-width: 420px) {
  .video, .video1 {
    width: 280px;
    height: 140px;
  }
}
.video2 {
  max-width: 512px;
  z-index: 0;
}
@media (max-width: 650px) {
  .video2 {
    max-width: 360px;
  }
}

.major-title {
  grid-area: major-title;
  box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.42);
}

.minor-title {
  grid-area: minor-title;
  box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.42);
}

.first-title {
  -webkit-animation: neonGlow 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
          animation: neonGlow 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-animation: text-flicker-in-glow 4s linear both;
          animation: text-flicker-in-glow 4s linear both;
}

@-webkit-keyframes neonGlow {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 22px rgba(255, 255, 255, 0.8), 0 0 40px rgba(255, 255, 255, 0.8);
  }
  100% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.8), 0 0 8px rgba(255, 255, 255, 0.8);
  }
}
@keyframes neonGlow {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 22px rgba(255, 255, 255, 0.8), 0 0 40px rgba(255, 255, 255, 0.8);
  }
  100% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.8), 0 0 8px rgba(255, 255, 255, 0.8);
  }
}
.vibrate-1 {
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
  -webkit-animation: text-flicker-out-glow 2.5s linear infinite both;
  animation: text-flicker-out-glow 2.5s linear infinite both;
}

@-webkit-keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
@-webkit-keyframes text-flicker-out-glow {
  0% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  13.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  14% {
    opacity: 0;
    text-shadow: none;
  }
  14.9% {
    opacity: 0;
    text-shadow: none;
  }
  15% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  22.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  23% {
    opacity: 0;
    text-shadow: none;
  }
  24.9% {
    opacity: 0;
    text-shadow: none;
  }
  25% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  34.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  35% {
    opacity: 0;
    text-shadow: none;
  }
  39.9% {
    opacity: 0;
    text-shadow: none;
  }
  40% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  42.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  43% {
    opacity: 0;
    text-shadow: none;
  }
  44.9% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  54.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 0;
    text-shadow: none;
  }
  69.4% {
    opacity: 0;
    text-shadow: none;
  }
  69.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  69.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  70% {
    opacity: 0;
    text-shadow: none;
  }
  79.4% {
    opacity: 0;
    text-shadow: none;
  }
  79.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  80% {
    opacity: 0;
    text-shadow: none;
  }
  89.8% {
    opacity: 0;
    text-shadow: none;
  }
  89.9% {
    opacity: 1;
    text-shadow: none;
  }
  90% {
    opacity: 0;
    text-shadow: none;
  }
  100% {
    opacity: 0;
  }
}
@keyframes text-flicker-out-glow {
  0% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  13.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  14% {
    opacity: 0;
    text-shadow: none;
  }
  14.9% {
    opacity: 0;
    text-shadow: none;
  }
  15% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  22.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  23% {
    opacity: 0;
    text-shadow: none;
  }
  24.9% {
    opacity: 0;
    text-shadow: none;
  }
  25% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  34.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  35% {
    opacity: 0;
    text-shadow: none;
  }
  39.9% {
    opacity: 0;
    text-shadow: none;
  }
  40% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  42.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  43% {
    opacity: 0;
    text-shadow: none;
  }
  44.9% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  54.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 0;
    text-shadow: none;
  }
  69.4% {
    opacity: 0;
    text-shadow: none;
  }
  69.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  69.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  70% {
    opacity: 0;
    text-shadow: none;
  }
  79.4% {
    opacity: 0;
    text-shadow: none;
  }
  79.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  80% {
    opacity: 0;
    text-shadow: none;
  }
  89.8% {
    opacity: 0;
    text-shadow: none;
  }
  89.9% {
    opacity: 1;
    text-shadow: none;
  }
  90% {
    opacity: 0;
    text-shadow: none;
  }
  100% {
    opacity: 0;
  }
}
.second-title {
  -webkit-animation: pulsate-bck 4s infinite both;
          animation: pulsate-bck 4s infinite both;
  -webkit-animation: neonGlow 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
          animation: neonGlow 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@-webkit-keyframes neonGlow {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 22px rgba(255, 255, 255, 0.8), 0 0 40px rgba(255, 255, 255, 0.8);
  }
  100% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.8), 0 0 8px rgba(255, 255, 255, 0.8);
  }
}
@keyframes neonGlow {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 22px rgba(255, 255, 255, 0.8), 0 0 40px rgba(255, 255, 255, 0.8);
  }
  100% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.8), 0 0 8px rgba(255, 255, 255, 0.8);
  }
}
@-webkit-keyframes pulsate-bck {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.page-title {
  background-color: rgb(24, 24, 24);
  box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.42);
}

.third-title {
  color: #ffffff;
  text-align: left;
  font-style: bold;
  font: 700;
  font-size: 60px;
  font-weight: 700;
  margin: 20px;
  padding: 10px;
  -webkit-animation: text-shadow-drop-center 0.6s both;
  animation: text-shadow-drop-center 0.6s both;
}
@media (max-width: 950px) {
  .third-title {
    font-size: 30px;
    text-align: center;
    margin: 10px;
  }
}

@-webkit-keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}
@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}
.review-div {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  gap: 10px;
}

.review-card-2 {
  align-self: end;
}

.review-head {
  background-color: rgb(6, 51, 88);
  padding: 10px;
}
.review-head .review-title {
  color: rgb(255, 255, 255);
}
@media (max-width: 950px) {
  .review-head .review-title .review-title {
    font-size: 20px;
  }
}

.review-p {
  padding: 10px;
  margin: 5px;
}

.fa-star {
  color: rgb(250, 246, 21);
}
@media (max-width: 950px) {
  .fa-star .fa-star {
    font-size: 15px;
  }
}

.crea_tu_instrumento {
  color: #ffffff;
  font-size: 36px;
  padding: 10px;
  text-align: start;
  font-style: italic;
  margin: 50px;
}

.workshop_intro {
  color: rgb(255, 255, 255);
  font-size: 50px;
  padding: 10px;
  text-align: center;
  font-style: italic;
  margin: 40px;
}

.workshop_p {
  color: rgb(24, 24, 24);
  font-size: 24px;
  padding: 10px;
  text-align: start;
  max-width: 512px;
}

.workshop_p_main {
  color: rgb(24, 24, 24);
  font-size: 30px;
  padding: 10px;
  text-align: start;
  max-width: 600px;
}

.fieldset_bam1 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: 90px;
  background-color: #ffffff;
  width: 50%;
  margin: 30px;
  padding: 10px;
  font-size: 25px;
  border-radius: 10px;
}

.fieldset_bam2 {
  display: flex;
  justify-content: space-evenly;
  background-color: #ffffff;
  width: 50%;
  margin: 30px;
  padding: 10px;
  font-size: 25px;
  border-radius: 10px;
}

.fieldset_bam3 {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 50%;
  margin: 30px;
  padding: 10px;
  font-size: 25px;
  border-radius: 10px;
}

.fieldset_bam4 {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  width: 50%;
  margin: 30px;
  padding: 10px;
  font-size: 25px;
  border-radius: 10px;
}

.enviar {
  height: 40px;
  border-radius: 10px;
  background-color: rgb(6, 51, 88);
  color: #ffffff;
  font-size: 20px;
}

footer {
  grid-area: footer;
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  padding: 10px;
  font-size: 20px;
}
@media (max-width: 495px) {
  footer {
    text-align: center;
  }
}

.first-title, .second-title, .page-title {
  color: #ffffff;
  font-style: bold;
  font-size: 90px;
  font-weight: 700;
  padding: 10px;
}
@media (max-width: 970px) {
  .first-title, .second-title, .page-title {
    font-size: 50px;
  }
}
@media (max-width: 450px) {
  .first-title, .second-title, .page-title {
    font-size: 30px;
  }
}

.major-title, .minor-title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(24, 24, 24);
}

.workshop_div .section_one, .workshop_div .section_two, .workshop_div .section_three, .workshop_div .section_four {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1200px) {
  .workshop_div .section_one, .workshop_div .section_two, .workshop_div .section_three, .workshop_div .section_four {
    flex-wrap: wrap;
  }
}

.review-card, .review-card-2 {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  font-size: 25px;
  padding: 10px;
  margin: 10px;
}
@media (max-width: 785px) {
  .review-card, .review-card-2 {
    width: 100%;
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */