.index-cards {
    grid-area: tarjeta;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 30px;
    @media (max-width: 950px) {
            margin: 10px;
    }
    .cards-products {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 450px;
        max-height: 1000px;
        background-color: #ffffff;
        margin: 30px;
        padding: 10px;
        box-shadow: 10px 10px 20px -3px rgba(0,0,0,0.42);
        .cards-products-imgs {
            width: 100%;
         }
        .cards-products-tables {
            padding: 5px;
            width: 100%;
            font-size: 20px;
            th, td {
                text-align: start;
            }
            span {
                color: #ffffff;
            }
        }
        .button {
            @include button ($first-color, $fourth-color);
            width: 100%;
            height: 50px;
            font-size: 25px;
            font-weight: 400;
             
        }
        @media (max-width: 950px) {
            margin: 10px;
        }
    }
}
.specs-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    .specs {
        background-color: #ffffff;
        width: auto;
        font-size: 30px;
        font-weight: 400;
        list-style: square;
        list-style-position: inside;
        padding: 10px;
        margin: 20px;
        @media (max-width: 750px) {
            font-size: 25px;
        }
        @media (max-width: 450px) {
            font-size: 15px;
        }
    }
    .description {
        display: inline-block;
        color: #ffffff;
        width: 100%;
        margin: 10px;
        padding: 10px;
        font-size: 25px;
        font-weight: 400;
        font-style: italic;
        border-radius: 5px;
        @media (max-width: 750px) {
            font-size: 20px;
        }
        @media (max-width: 450px) {
            font-size: 15px;
        }
    } 
}
.purchase-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    .purchase-box {
        width: 30%;
        background-color: $fourth-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        margin: 10px;
        p {
            font-size: 21px;
            font-weight: 400;
            text-align: center;
            padding: 10px;
            @media (max-width: 1150px) {
                font-size: 20px;
            }
            @media (max-width: 550px) {
                font-size: 15px;
            }
        }
        a {
            @include button ($first-color, $fourth-color);
            width: 100%;
            height: 50px;
            font-size: 25px;
            font-weight: 400;
            @media (max-width: 1150px) {
                font-size: 20px;
            }
            @media (max-width: 550px) {
                font-size: 15px;
            }
        }
    }
}
hr {
    margin: 10px;
}
.caja_mapa {
    display: flex;
    justify-content: center;
    .mapa {
        margin: 30px;
    }
}

.tarjeta_contacto {
    color: #ffffff;
    font-size: 40px;
    @media (max-width: 1500px) {
        font-size: 32px;
    }
    @media (max-width: 1300px) {
        font-size: 30px;
    }
    @media (max-width: 1200px) {
        font-size: 34px;
    }
    @media (max-width: 690px) {
        font-size: 32px;
    }
    @media (max-width: 550px) {
        font-size: 30px;
    }
    @media (max-width: 450px) {
        font-size: 28px;
    }
    @media (max-width: 370px) {
        font-size: 26px;
    }
    @media (max-width: 350px) {
        font-size: 24px;
    }
    ul {
        @extend %social-logos;
        li {
        margin: 30px;
        list-style: none;
        }
        a {
            color: #ffffff;
            text-decoration: none;
        }    
    }
} 
.workshop-card {
    width: 45%;
    max-height: 650px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 1200px) {
        width: 100%;
    }
    .workshop-img {
        width: 512px;
        max-height: 512px;
        object-fit: fill;
        @media (max-width: 650px) {
            max-width: 480px; 
        }
        @media (max-width: 550px) {
            max-width: 400px; 
        }
        @media (max-width: 480px) {
            max-width: 380px; 
        }
        @media (max-width: 450px) {
            max-width: 320px; 
        }
        @media (max-width: 385px) {
            max-width: 280px; 
        }
        @media (max-width: 350px) {
            max-width: 250px; 
        }
        @media (max-width: 320px) {
            max-width: 220px; 
        }
    }
}

.instruments-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
}
.instrument-img {
    max-width: 350px;
    object-fit: cover;
    @media (max-width: 400px) {
        max-width: 200px;
    }
}