%primary-title {
    color: #ffffff;
    font-style: bold;
    font-size: 90px;
    font-weight: 700;
    padding: 10px;
    @media (max-width: 970px) {
        font-size: 50px;
    }
    @media (max-width: 500px) {
        font-size: 30px;
    }     
}
%div-title {
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: $third-color;
}
%workshop_section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 30px;
    object-fit: cover;
    @media (max-width: 1200px) {
        flex-wrap: wrap;
    }
}
%review {
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: $fourth-color;
    font-size: 25px;
    padding: 10px;
    margin: 10px;
    @media (max-width: 785px) {
        width: 100%;
        font-size: 20px;
    }
}
%social-logos {
    .redes__fb_logo {
        width: 35px;
        height: 35px; 
    }
    .redes__insta_logo {
        width: 35px;
        height: 35px;
        background-color: $fourth-color;
        border-radius: 10px;
    }
    .redes__wapp_logo {
        width: 35px;
        height: 35px;
        background-color: $fourth-color;
        border-radius: 5px;
    }
}
%form {
    display: flex;
    font-size: 30px;
    color: $fourth-color;
    border: none;
    width: 100%;
    padding: 10px;
    @media (max-width: 1200px) {
        font-size: 25px;
    }
    @media (max-width: 900px) {
        font-size: 22px;
    }
    @media (max-width: 750px) {
        font-size: 17px;
    }
    @media (max-width: 500px) {
        font-size: 15px;
    }
}