.build-main {
    display: flex;
    @media (max-width: 900px) {
        flex-direction: column;
    }
    .tu_bam {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        height: auto;
        @media (max-width: 900px) {
            width: 100%;
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin: 10px;
            padding: 10px;
            @media (max-width: 750px) {
                justify-content: center;
                margin: 5px;
                padding: 5px;
            }
            .fieldset_bam1 {
                @extend %form;
                flex-direction: column;
                justify-content: space-evenly;
                gap: 5px;
                height: 90px;
            }
            .fieldset_bam2 {
                @extend %form;
                flex-wrap: wrap;
                flex-direction: row;
                gap: 5px;
                .group-one, .group-two {
                    display: flex;
                    gap: 10px;
                    @media (max-width: 390px) {
                        flex-direction: column;
                    }
                }
                option, select {
                    padding: 5px;
                    font-size: 25px;
                    font-family: "Roboto Condensed", sans-serif;
                    @media (max-width: 1200px) {
                        font-size: 25px;
                    }
                    @media (max-width: 900px) {
                        font-size: 22px;
                    }
                    @media (max-width: 750px) {
                        font-size: 17px;
                    }
                    @media (max-width: 500px) {
                        font-size: 15px;
                    }
                }
            }
            .fieldset_bam3 {
                @extend %form;
                flex-direction: column;
                border: none;
                textarea {
                    width: 100%;
                    padding: 5px;
                    font-size: 20px;
                    font-family: "Roboto Condensed", sans-serif;
                    @media (max-width: 1200px) {
                        font-size: 25px;
                    }
                    @media (max-width: 900px) {
                        font-size: 22px;
                    }
                    @media (max-width: 750px) {
                        font-size: 17px;
                    }
                    @media (max-width: 500px) {
                        font-size: 15px;
                    }
                }
                @media (max-width: 750px) {
                    width: 90%;        
                }
            }
            .fieldset_bam4 {
                @extend %form;
                height: auto;
                flex-direction: column;
                justify-content: space-between;
                input {
                    width: 100%;
                    font-size: 20px;
                    padding: 2px;
                    color: $fourth-color;
                    background-color: transparent;
                    border: 0;
                    border-bottom: 1px solid $second-color;
                    outline: none;
                    font-family: "Roboto Condensed", sans-serif;
                    @media (max-width: 1200px) {
                        font-size: 25px;
                    }
                    @media (max-width: 900px) {
                        font-size: 22px;
                    }
                    @media (max-width: 750px) {
                        font-size: 17px;
                    }
                    @media (max-width: 500px) {
                        font-size: 15px;
                    }
                }
            }
            .enviar {
                width: 100%;
                padding: 10px;
                background-color: $second-color;
                color: $fourth-color;
                font-size: 25px;
                font-family: "Roboto Condensed", sans-serif;
                @media (max-width: 500px) {
                    font-size: 20px;
                }
            }
        }
    }
    .form-imgs {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
        gap: 20px;
        @media (max-width: 900px) {
            display: none;
        }
        .form-img {
            width: 95%;
            opacity: 0.1;
        }
    }    
}



