* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(0,159,227);
    background: linear-gradient(157deg, rgba(0,159,227,1) 0%, rgba(6,51,88,1) 100%);
    font-family: "Roboto Condensed", sans-serif;
 }
 .favicon {
    width: 16px;
    height: 16px;
} 