.review-div {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    gap: 10px;
}
.review-card {
    @extend %review;
}
.review-card-2 {
    @extend %review;
    align-self: end;
}
.review-head {
    background-color: $second-color;
    padding: 10px;
    .review-title {
        color: $fourth-color;
        @media (max-width: 950px) {
            .review-title {
                font-size: 20px;
            } 
        }
    }
}    
.review-p {
    padding: 10px;
    margin: 5px;
}
.fa-star {
    color: rgb(250, 246, 21);
    @media (max-width: 950px) {
        .fa-star {
            font-size: 15px;
        }
    }    
}

