.crea_tu_instrumento {
    color: #ffffff;
    font-size: 36px;
    padding: 10px;
    text-align: start;
    font-style: italic;
    margin: 30px;
    @media (max-width: 900px) {
        font-size: 24px;
    }
    @media (max-width: 500px) {
        font-size: 20px;
    }
}
.workshop_intro {
    color: $fourth-color;
    font-size: 50px;
    padding: 10px;
    text-align: center;
    font-style: italic;
    margin: 40px;
    @media (max-width: 1500px) {
        font-size: 28px;
    }
    @media (max-width: 1300px) {
        font-size: 26px;
    }
    @media (max-width: 1200px) {
        font-size: 30px;
    }
    @media (max-width: 690px) {
        font-size: 26px;
        margin: 10px;
    }
    @media (max-width: 550px) {
        font-size: 22px;
    }
    @media (max-width: 450px) {
        font-size: 20px;
    }
    @media (max-width: 370px) {
        font-size: 18px;
    }
    @media (max-width: 350px) {
        font-size: 16px;
    }
}
.workshop_p {
    color: $fourth-color;
    font-size: 24px;
    padding: 10px;
    text-align: start;
    max-width: 512px;
    @media (max-width: 1500px) {
        font-size: 22px;
    }
    @media (max-width: 1300px) {
        font-size: 20px;
    }
    @media (max-width: 1200px) {
        font-size: 24px;
    }
    @media (max-width: 690px) {
        font-size: 22px;
    }
    @media (max-width: 550px) {
        font-size: 20px;
    }
    @media (max-width: 450px) {
        font-size: 18px;
    }
    @media (max-width: 370px) {
        font-size: 16px;
    }
    @media (max-width: 350px) {
        font-size: 14px;
    }
}
.workshop_p_main {
    width: 100%;
    color: $fourth-color;
    font-size: 30px;
    padding: 10px;
    max-width: 600px;
    @media (max-width: 1500px) {
        font-size: 28px;
    }
    @media (max-width: 1300px) {
        font-size: 26px;
    }
    @media (max-width: 1200px) {
        font-size: 30px;
    }
    @media (max-width: 690px) {
        font-size: 26px;
    }
    @media (max-width: 550px) {
        font-size: 22px;
    }
    @media (max-width: 450px) {
        font-size: 20px;
    }
    @media (max-width: 370px) {
        font-size: 18px;
    }
    @media (max-width: 350px) {
        font-size: 16px;
    }
}