.crea_tu_instrumento {
    color: #ffffff;
    font-size: 36px;
    padding: 10px;
    text-align: start;
    font-style: italic;
    margin: 50px;
}
.workshop_intro {
    color: $fourth-color;
    font-size: 50px;
    padding: 10px;
    text-align: center;
    font-style: italic;
    margin: 40px;
}
.workshop_p {
    color: $third-color;
    font-size: 24px;
    padding: 10px;
    text-align: start;
    max-width: 512px;
}
.workshop_p_main {
    color: $third-color;
    font-size: 30px;
    padding: 10px;
    text-align: start;
    max-width: 600px;
}