.crea_tu_instrumento {
    color: #ffffff;
    font-size: 36px;
    padding: 10px;
    text-align: start;
    font-style: italic;
    margin: 50px;
}
.workshop_intro {
    color: #ffffff;
    font-size: 36px;
    padding: 10px;
    text-align: start;
    font-style: italic;
    margin: 20px;
}
.workshop_p {
    color: #ffffff;
    font-size: 10px;
    padding: 10px;
    text-align: start;
}